[Unit]
Description=Starts JustBoom Rotary Volume Control
Requires=local-fs.target

[Service]
Type=simple
ExecStart=/opt/justboom/jb-rotary.py -i 5
WorkingDirectory=/opt/justboom/
